.footer{
  margin: calc(1vw * 4) calc(2.00vw * 4) calc(1vw * 4) calc(2.00vw * 4);
  background: white;
  overflow: hidden;
}
.img{
  position: relative;
  float: left;
  width:  calc(1.00vw * 5.5);
  height: calc(1.00vw * 5.5);
  margin: calc(.25vw * 5.5);
  background-position: 100% 100%;
  background-repeat:   no-repeat;
  background-size:     cover;
}
.w-up{
  width:  calc(1.00vw * 5.5);
  height: calc(1.10vw * 5.5);
}
.w170{
  width:  calc(1.70vw * 5.5);
  height: calc(1.00vw * 5.5);
}
.w200 {
  width:  calc(2.00vw * 5.5);
  height: calc(1.00vw * 5.5);
}
.w224{
  width:  calc(2.24vw * 5.5);
  height: calc(1.00vw * 5.5);
}
.w245{
  width:  calc(2.45vw * 5.5);
  height: calc(1.00vw * 5.5);
}
.w460{
  top: calc(.20vw * 5.5);
  width:  calc(2.30vw * 5.5);
  height: calc(.50vw * 5.5);
}
.w600{
  top: calc(.20vw * 5.5);
  width:  calc(3.00vw * 5.5);
  height: calc(.50vw * 5.5);
}

