
.quote {
  position: relative;
  font-size: 40px;
  line-height: 40px;
  color: #0b7faf;
  padding: 10px 0 0 30px;
  font-style: italic;
  font-weight: 500;
  z-index: 1;
}
.quote:before {
  content: '\201C';
  font-family: 'Sanchez', serif;
  position: absolute;
  top: 20px;
  color: #cacaca;
  font-size: 110px;
  z-index: -1;
  margin: 0 0 0 -30px;
  font-weight: bold;
  
}

.butn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #218a41;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  background: white;
  border: solid #218a41 2px;
  padding: 10px 20px 10px 20px;
  margin: 10px;
  text-decoration: none;
  display: inline-block;
  -webkit-transition: all 150ms linear;
  -ms-transition: all 150ms linear;
  transition: all 150ms linear;
}
.butn:hover {
  background: #218a4124;
  text-decoration: none;
}

.butn.toggled:hover {
  background: #218a41ed;
  border: solid #218a41ed 2px;
  text-decoration: none;
}
.butn.toggled{
  color: #ffffff;
  background: #218a41;
  
}


.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.list > div {
  position: absolute;
  will-change: transform, width, height, opacity;
  padding: 15px;
}

.team-card{
  position: relative;
  width: 100%;
  margin: 15px;
  background: white;
  overflow: hidden;
  z-index: -2;
  border-bottom: solid #218a41 7px;
  border-radius: 5px;
}
.team-card:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)!important;
}
.team-card:hover > .back{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)!important;
}

.team-card img {
  margin-left: 0 0 5px 5px;
  float: right;
  opacity: inherit;
  border-radius: 0 0 0 50%; 
  width: 120px;
  height: 120px;
}

.team-card h3{
  opacity: inherit;
  font-size: 35px;
  padding: 15px 0;
  font-weight: bold;
  margin: 2px 0 0 0;
}
.team-card p{
  opacity: inherit;
  margin-left: 15px;
  display: block;
  font-size: 24px;
  margin: 2px 0 5px 0;
}

.team-tag{
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-size: 14px;
  font-weight: bold;
  border: solid #218a41 2px;
  padding: 5px 10px 5px 10px;
  margin: 5px;
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
  background: #218a41;
}

.list{
  margin-bottom: 25vw;
}
