
.butngreen {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #218a41;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  background: white;
  border: solid #218a41 2px;
  padding: 10px 20px 10px 20px;
  margin: 10px;
  text-decoration: none;
  display: inline-block;
  -webkit-transition: all 150ms linear;
  -ms-transition: all 150ms linear;
  transition: all 150ms linear;
}
.butngreen:hover {
  background: #218a4124;
  text-decoration: none;
}

.butngreen.toggled:hover {
  background: #218a41ed;
  border: solid #218a41ed 2px;
  text-decoration: none;
}
.butngreen.toggled{
  color: #ffffff;
  background: #218a41;
  
}

.butnred {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #ae2d1e;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  background: white;
  border: solid #ae2d1e 2px;
  padding: 10px 20px 10px 20px;
  margin: 10px;
  text-decoration: none;
  display: inline-block;
  -webkit-transition: all 150ms linear;
  -ms-transition: all 150ms linear;
  transition: all 150ms linear;
}
.butnred:hover {
  background: #ae2d1e24;
  text-decoration: none;
}

.butnred.toggled:hover {
  background: #ae2d1eed;
  border: solid #ae2d1eed 2px;
  text-decoration: none;
}
.butnred.toggled{
  color: #ffffff;
  background: #ae2d1e;
  
}


.butnblue {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #0b7faf;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  background: white;
  border: solid #0b7faf 2px;
  padding: 10px 20px 10px 20px;
  margin: 10px;
  text-decoration: none;
  display: inline-block;
  -webkit-transition: all 150ms linear;
  -ms-transition: all 150ms linear;
  transition: all 150ms linear;
}
.butnblue:hover {
  background: #0b7faf24;
  text-decoration: none;
}

.butnblue.toggled:hover {
  background: #0b7fafed;
  border: solid #0b7fafed 2px;
  text-decoration: none;
}
.butnblue.toggled{
  color: #ffffff;
  background: #0b7faf;
  
}

.insilico h1,.insilico h2,.insilico h3,.insilico h4{
  color: #0b7faf;
} 
.invitro h1,.invitro h2,.invitro h3,.invitro h4{
  color: #218a41;
} 

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}