body{
  overflow: hidden;
}
.content {
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  margin-top: 56px;
  overflow: hidden;
}
h1{
  margin: 2rem 0 2rem 0;
  font-size: calc(10px + 3.4vmin);
  font-weight: bold;
}
.page{
  width: 100%;
  height: 100%;
  position: absolute;
}